/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aeef18;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #50c8ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 2em;
    background-color: #222;
    color: #48f5e0;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #f4faf2;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f212b2;
}

.button[data-value="="] {
    background-color: #4caf50;
    color: white;
}

.button[data-value="="]:hover {
    background-color: #45a049;
}
